<center><h2 style="color:rgb(168, 18, 13)">WIKIMEDIA - Making knowledge fun!</h2></center>
<% @articles.each do |article| %>
  <h3>
    <%= link_to article.title, article %>  
  </h3>
  <p>
    Published at
    <%= article.created_at.strftime('%d %b, %Y') %>
  </p>
  <p>
    <%= truncate(article.content, length: 350) %>
  </p>
<% end %>

